.nav {
  height: 56px;
  // background-color: rgb(44, 0, 125);
  position: absolute;
  top: 0px;
  left: 0px;
  right: 0px;
  // padding: 0.5rem 1rem;
  // margin: auto;
}
.nav-right {
  margin-left: auto;
}
.nav-item {
  padding: 1rem 0rem;
}
.nav-logo {
  padding: .5rem 0rem;
}
.nav-text {
  font-size:1.5em;
}