@import '../breakpoints.scss';
.toggle {
  height: 100px;
  width: 100px;
  background-color: blue;
}
.toggle-off {
  height: 100px;
  width: 100px;
  background-color: red;
}

ul {
  height: 48px;
}
ul {
  height: 48px;
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items:center;
  justify-content: flex-end;

  @include breakpoint($screen-xsml){
    height: 100px;
    background-color: grey;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
  }
}
section {

  width: 100%;
  display: flex;
  flex-direction: row;
  align-items:center;
  justify-content: flex-end;
  @include breakpoint($screen-xsml){
    position: fixed;
    bottom: 0px;
    left: 0px;
    height: 100px;
    width: 100%;
    transform: translate(0px, 100px);
    transition: .3s ease-in-out;
  }
}
nav .show {
  @include breakpoint($screen-xsml){
    // transform: translate(0px, 100px);
    transform: translate(0px, 0px);
  }
}

.nav button {
  display: none;
  @include breakpoint($screen-xsml){
    display: initial;
    position: fixed;
    top: 18px;
    right: 20px;
    z-index: 3;
  }
}
.nav-logo {

  padding: .5rem 0rem;
}
.nav-right {
  margin-left: auto;
}
.nav-item {
  padding: 1rem 0rem;
}
// .nav-logo {
//   padding: .5rem 0rem;
// }
.nav-text {
  font-size:1.5em;
  margin: .5em;
}