@import '../breakpoints.scss';

.nav-links {
  height: 48px;
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items:center;
  justify-content: flex-end;

  @include breakpoint($screen-xsml){
    position: absolute;
    // bottom: -300px;
    bottom: -0px;
    left: 0px;
    height: 100px;
    background-color: grey;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
  }
}
.nav button {
  display: none;
  @include breakpoint($screen-xsml){
    display: initial;
    position: fixed;
    top: 20px;
    right: 20px;
    z-index: 3;
  }
}
.nav-logo {

  padding: .5rem 0rem;
}
.nav-right {
  margin-left: auto;
}
.nav-item {
  padding: 1rem 0rem;
}
// .nav-logo {
//   padding: .5rem 0rem;
// }
.nav-text {
  font-size:1.5em;
  margin: .5em;
}