// COLORS
$color-brand1: rgb(44, 0, 125);

$col-rest-green: rgb(52, 127, 52);
$col-rest-blue: rgb(45, 43, 151);
$col-rest-yorange: rgb(158, 128, 28);
$col-rest-red: rgb(127, 52, 52);

// FONT STYLE
$LibreFranklin: 'Libre Franklin', sans-serif;

// FONT SIZE

// FONT COLORS
$font-white: white;
$font-grey80: rgb(52, 52, 52);
$font-grey90: rgb(25, 25, 25);
