@import '../../breakpoints.scss';
@import '../../variables.scss';

$mawashi: red;
$mawashi: rgb(255, 134, 134);
$mawashi: rgb(99, 50, 50);
$mawashi: rgb(255, 134, 134);

.container-2 {
  margin: auto;
  width: 80%;
  @include breakpoint($screen-xsml){
    width: 94%;
  }
  @include breakpoint($screen-sml){
    
  }
  @include breakpoint($screen-med){
    
  }
  @include breakpoint($screen-lrg){
    max-width:1000px;
    
  }
}
.avatar {
  height: 45px;
  width: 45px;
}
.group-row{
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap:wrap;
}
.sticky-nav {
  position: -webkit-sticky;
  position: sticky;
  // z-index:1px;
  left: 0px;
  top: 55px;
  width: 100%;
  background-color: $color-brand1;
  height: 1.5em;
}
.nav-color {
  background-color: $color-brand1;
}
.j-c {
  justify-content: center;
}
.row-btw {
  justify-content: space-between;
}
.gutter {
  width: 10%;
  @include breakpoint($screen-xsml){
    width: 3%;
  }
}
.direction {
  width: 42%;
  display: flex;
  flex-direction: column;
  padding-top: .25em;  
}
.direction-2 {
  width: 42%;
  display: flex;
  flex-direction: column;
  align-content: flex-end;
  padding-bottom: .25em;  
}
.rank {
  width: 16%;
  display: flex;
  flex-direction: column;
  padding: .25em 0em;
}
.rank-content {
  width: 16%;
  display: flex;
  flex-direction: column;
  padding: .25em 0em;
  background: rgb(240, 240, 240);
  border-left: 3px solid white;
  border-right: 3px solid white;
  // border-radius: 10px;
}
.margin {
  margin: auto;
}
.text-white {
  color: white;
}
.info-hide {
  display: none;
}
.info-show {
  display:initial;
  width:100%;
  height: auto;
}
@mixin text{
  margin-bottom: .5em;
}
@mixin text-10 { font-size:  10px; }
@mixin text-11 { font-size:  11px; }
@mixin text-12 { font-size:  12px; }
@mixin text-13 { font-size:  13px; }
@mixin text-14 { font-size:  14px; }
.text-s {
  // @include text;
  font-size: 14px
}
.text-xs {
  // @include text;
  @include text-12;
}
.text-xs-b {
  // @include text;
  @include text-12;
  font-weight: bold;
}
.text-xxs {
  // @include text;
  font-size: 10px
}
.mawashi {
  width: 28px;
  height: 7px;
}