@import '../../breakpoints.scss';
@import '../../variables.scss';

.container-2 {
  margin: auto;
  width: 80%;
  @include breakpoint($screen-xsml){
    width: 94%;
  }
  @include breakpoint($screen-sml){
    
  }
  @include breakpoint($screen-med){
    
  }
  @include breakpoint($screen-lrg){
    max-width:1000px;
    
  }
}
.group-row{
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap:wrap;
}
.sticky-nav {
  position: -webkit-sticky;
  position: sticky;
  z-index:1px;
  left: 0px;
  top: 55px;
  width: 100%;
  background-color: $color-brand1;
  height: 1.5em;
}
.nav-color {

  background-color: $color-brand1;
}
.j-c {
  justify-content: center;
}
.gutter {
  width: 10%;
  @include breakpoint($screen-xsml){
    width: 3%;
  }
}
.direction {
  width: 45%;
  display: flex;
  flex-direction: column;
  padding: .25em     
}
.rank {
  width: 10%;
  display: flex;
  flex-direction: column;   
}
.margin {
  margin: auto;
}
.rank-text {
  color: white;
}
.info-hide {
  display: none;
}
.info-show {
  display:initial;
  width:100%;
  height: 50px;
}